In [1]:
# Import Packages
from bs4 import BeautifulSoup
import pandas as pd
import os
import re
from gensim import models, corpora
from nltk import word_tokenize
from nltk.corpus import stopwords, words

In [2]:
# Read data from fulltext folder
name = []
sentence = []
for filename in os.listdir("corpus/fulltext"):
    with open("corpus/fulltext/" + filename, encoding = "ISO-8859-1") as fp:
        soup = BeautifulSoup(fp, 'xml')
    name_text = soup.find_all("name")
    name.append(name_text)
    sentence_text = soup.find_all("sentence")
    sentence.append(sentence_text)

In [3]:
data = pd.DataFrame({'name': name, 'sentence': sentence})

In [4]:
# Save the Data
data.to_csv("data.csv",',')

In [5]:
# Read Data
# data = pd.read_csv("data.csv")

In [6]:
# Remove the <name> tag
for i in range(len(data)):
        temp = str(data.iloc[i,0])
        temp = temp.replace("<name>", "")
        temp = temp.replace("</name", "")
        data.iloc[i,0] = temp

In [7]:
# Remove the <sentence> tag
for i in range(len(data)):
        temp = str(data.iloc[i,1])
        temp = temp.replace("<sentence", "")
        temp = temp.replace("</sentence", "")
        temp = temp.replace('id="s', "")
        data.iloc[i,1] = temp

In [8]:
data.head(2)

,name,sentence
0,[University of Western Australia v Gray (No 21...,"[ 0"">\n \n 1 On 17 April 2008 the application ..."
1,[Parker v Parker [2009] FCA 930 (25 August 200...,"[ 0"">\n INTRODUCTION \n The applicant seeks re..."

In [9]:
# change to lower case
data['sentence'] = data['sentence'].apply(lambda x: " ".join(x.lower() for x in x.split()))

# remove punctuations
data['sentence'] = data['sentence'].str.replace('[^\w\s]','')
data['name'] = data['name'].str.replace('[^\w\s]','')

# remove stop words     
stop = stopwords.words('english')
data['sentence'] = data['sentence'].apply(lambda x: " ".join(x for x in x.split() if x not in stop))

# remove non-english words
words = set(words.words())
data['sentence'] = data['sentence'].apply(lambda x:" ".join(x for x in x.split() if x in words))

# remove the words which has length less than 2
data['sentence'] = data['sentence'].apply(lambda x: " ".join(x for x in x.split() if len(x) > 1))

In [10]:
data.head(2)

,name,sentence
0,University of Western Australia v Gray No 21 2...,application brought university western gray me...
1,Parker v Parker 2009 FCA 930 25 August 2009,introduction applicant review decision adminis...

In [11]:
# Save the cleaned text file to cleaned_data.csv
data.to_csv("cleaned_data.csv",',')

In [12]:
# Read cleaned data
data = pd.read_csv("cleaned_data.csv")

In [13]:
#del data['Unnamed: 0']
data.head(2)

,Unnamed: 0,name,sentence
0,0,University of Western Australia v Gray No 21 2...,application brought university western gray me...
1,1,Parker v Parker 2009 FCA 930 25 August 2009,introduction applicant review decision adminis...