# Python Basics

## Numbers

In [1]:
1+3

4

In [2]:
3*5

15

In [3]:
6/2

3.0

In [4]:
9/2

4.5

In [5]:
2**3

8

In [6]:
# Modulo: Remainder when a is divided by b
6%3

0

In [7]:
6%5

1

In [8]:
# Follow the math calculation rules
(3-1)*(2+1)

6

## Variable Assignment

In [9]:
# Variable name can't start with number or special characters

In [10]:
name_of_var ="hi"

In [11]:
name_of_var

'hi'

In [12]:
x = 3
y = 5

In [13]:
z = x + y

In [14]:
z

8

## Strings

In [15]:
'single quote'

'single quote'

In [16]:
"double quotes"

'double quotes'

In [17]:
"wrap other quotes is 'like' this"

"wrap other quotes is 'like' this"

In [18]:
a = 'hi'
b = 'q'

In [19]:
a+b

'hiq'

## Printing

In [20]:
x = 'Hello'

In [21]:
x

'Hello'

In [22]:
print(x)

Hello

In [23]:
num = 44
name = 'Disha'

In [24]:
print('{one} is 44 years old'.format(one=name))

Disha is 44 years old

In [25]:
print('{} is {} years old.'.format(name, num))

Disha is 44 years old.

In [26]:
print('{} is 44 years old'.format(name))

Disha is 44 years old

In [27]:
# f-string
# Triple-quoted f-strings that span multiple lines
name = 'Disha'
age = 18
print(f'''She said her name is {name.upper()}
    ...    and she is {6 * age} years old.''')

She said her name is DISHA
    ...    and she is 108 years old.

## Lists

In [28]:
[1,2,3,4]

[1, 2, 3, 4]

In [29]:
['hello', 1, [1,2]]

['hello', 1, [1, 2]]

In [30]:
my_list = ['a', 'b', 'c']

In [31]:
my_list.append("q")

In [32]:
my_list

['a', 'b', 'c', 'q']

Slicing lists

In [33]:
my_list[2]

'c'

In [34]:
my_list[:2]

['a', 'b']

In [35]:
my_list[1] = 'new'

In [36]:
my_list

['a', 'new', 'c', 'q']

In [37]:
my_list[2] = 2

In [38]:
my_list

['a', 'new', 2, 'q']

In [39]:
nested = [1,2,4,2,[5,4,['hey']]]

In [40]:
nested[4]

[5, 4, ['hey']]

In [41]:
nested[4][2]

['hey']

In [42]:
nested[4][2][0]

'hey'

## Dictionaries

In [43]:
d = {'key1':'item1','key2':'item2'}

In [44]:
d['key1']

'item1'

## Booleans

In [45]:
True

True

In [46]:
False

False

In [47]:
True + False

1

In [48]:
False + False

0

In [49]:
True + True

2

## Tuples

Python tuples have a surprising trait: they are immutable.

In [50]:
t = (1,2,3)

In [51]:
t[1]

2

In [52]:
t[2] ="hi, i'm new"

TypeError: 'tuple' object does not support item assignment

## Sets
a set is an unordered collection data type that is iterable, mutable, and has no duplicate elements.

In [53]:
{1,2,3,4}

{1, 2, 3, 4}

In [54]:
{5,3,4,5,4,2}

{2, 3, 4, 5}

## Comparison Operators

In [55]:
1>45

False

In [56]:
3<23

True

In [57]:
1>=1

True

In [58]:
1==1

True

In [59]:
# Python compares string lexicographically. i.e. using ASCII value of the characters.
'hi' == 'bye'

False

In [60]:
'hi' == 'hi'

True

In [61]:
'hi' ==' hi '

False

## Logic Operators

In [62]:
(1 > 2) and (2 < 3)

False

In [63]:
(1 > 2) or (2 < 3)

True

In [64]:
(1 == 2) or (2 == 3) or (4 == 4)

True

## if,elif, else Statements

In [65]:
if 1 < 2:
    print('Yep!')

Yep!

In [66]:
if 1 < 2:
    print('yep!')

yep!

In [67]:
if 1 < 2:
    print('first')
else:
    print('last')

first

In [68]:
if 1 > 2:
    print('first')
else:
    print('last')

last

In [69]:
if 4==2:
    print('one')
elif 2==2:
    print('two')
else:
    print("three")

two

## for Loops

In [70]:
my_list = [1,2,3,4,5]

In [71]:
for i in my_list:
    print(i)

1
2
3
4
5

In [72]:
for i in my_list:
    print('hi data science')

hi data science
hi data science
hi data science
hi data science
hi data science

In [73]:
for j in my_list:
    print(j * j)

1
4
9
16
25

## while loops

In [74]:
i = 15
while i >10:
    print("i is {} now".format(i))
    i = i - 1

i is 15 now
i is 14 now
i is 13 now
i is 12 now
i is 11 now

## range()

In [75]:
range(4)

range(0, 4)

In [76]:
for i in range(4):
    print(i)

0
1
2
3

In [77]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [78]:
for i in range(12,22,2):
    print(i)

12
14
16
18
20

In [79]:
for i in range(12,23,2):
    print(i)

12
14
16
18
20
22

## list comprehension

You can use list comprehension to replace many for and while blocks. List comprehension is faster because it is optimized for the Python interpreter to spot a predictable pattern during looping. Besides the syntactic benefit of list comprehensions, they are often as fast or faster than equivalent use of map. <br/>
List comprehension usually is faster than for loop.

In [80]:
x = [3,2,1,5]

In [81]:
result = []
for i in x:
    result.append(i+1)
print(result)

[4, 3, 2, 6]

In [82]:
[i+1 for i in x]

[4, 3, 2, 6]

In [83]:
# List Comprehension
h_letters = []

for letter in 'human':
    h_letters.append(letter)

print(h_letters)

h_letters = [ letter for letter in 'human' ]
print( h_letters)

# [expression for item in list]

['h', 'u', 'm', 'a', 'n']
['h', 'u', 'm', 'a', 'n']

## functions

In [84]:
def my_func(para = 'hi'):
    """
    This is comment. Usually some explanation of your function and parameters.
    """
    print(para)

In [85]:
my_func

In [86]:
my_func()

hi

In [87]:
def square(x):
    return x**2

In [88]:
square(20)

400

## lambda expression

In [89]:
def times3(x):
    return x*3

In [90]:
times3(4)

12

In [91]:
y= lambda x : x * 3

In [92]:
y(4)

12

## map & filter

In [93]:
seq = [5,4,3,2,1]

In [94]:
def add2(x):
    return x + 2

In [95]:
print(add2(2))

4

In [96]:
map(add2,seq)

This returns a map expression. If you want to see what is inside, you need to list it

In [97]:
list(map(add2, seq))

[7, 6, 5, 4, 3]

A lambda expression is an anonymous function that you can use to create delegates or expression tree types. By using lambda expressions, you can write local functions that can be passed as arguments or returned as the value of function calls.

In [98]:
list(map(lambda var:var*5, seq))

[25, 20, 15, 10, 5]

In [99]:
filter(lambda i:i%2 == 0, seq)

In [100]:
list(filter(lambda i:i%2 == 0, seq))

[4, 2]

## methods

In [101]:
a = 'Hi, this is Data Science Batch'

In [102]:
a.lower()

'hi, this is data science batch'

In [103]:
a.upper()

'HI, THIS IS DATA SCIENCE BATCH'

In [104]:
# By default, it splits by space
a.split()

['Hi,', 'this', 'is', 'Data', 'Science', 'Batch']

In [105]:
# Split by comma. (cama)
a.split(",")

['Hi', ' this is Data Science Batch']

In [106]:
# dictionaries
heros= {'DC': 'Wonder Woman', 'Marvel': 'Black Widow'}

In [107]:
heros.keys()

dict_keys(['DC', 'Marvel'])

In [108]:
heros.items()

dict_items([('DC', 'Wonder Woman'), ('Marvel', 'Black Widow')])

In [109]:
list_1 = [2,3,4]

In [110]:
list_1.pop()

4

In [111]:
list_1

[2, 3]

In [112]:
'hi' in [5,4,'hi']

True

In [113]:
'hi' in [['hi'], 3, 4]

False

In [114]:
['hi'] in [['hi'], 3, 4]

True

## Shallow & Deep Copy

In [115]:
import copy
l1 = [1,2,[3, 5], [4, 7,8]]

In [116]:
# deepcopy
l2 = copy.deepcopy(l1)

In [117]:
l2

[1, 2, [3, 5], [4, 7, 8]]

In [118]:
print("The original elements before deep copying")
for i in range(0, len(l1)):
    print(l1[i], end = " ")

The original elements before deep copying
1 2 [3, 5] [4, 7, 8]

In [119]:
# Adding element to new list l2
l2[2][1] = 'change'

In [120]:
l2

[1, 2, [3, 'change'], [4, 7, 8]]

In [121]:
l1

[1, 2, [3, 5], [4, 7, 8]]

In [122]:
# shallow copy
l3 = copy.copy(l1)

In [123]:
l3

[1, 2, [3, 5], [4, 7, 8]]

In [124]:
l3[2][1] = 'hi'

In [125]:
l3

[1, 2, [3, 'hi'], [4, 7, 8]]

In [126]:
l1

[1, 2, [3, 'hi'], [4, 7, 8]]